.values {
	background: image(red);
	background: image(currentcolor);
	background: image(LinkText);
	background: image(#ffdd0088);
	background: image(rgb(255 0 0 / 50%));
	background: image(hsla(0, 100%, 50%, 0.5));
	background: image(lab(70% 100 210));
}

.case-insensitivity {
	background: Image(RGB(255 0 0));
	background: IMAGE(DarkRed);
}

.as-part {
	background: green image(orange);
	background: image(pink), image(blue);
	background: cross-fade(image(white) 25%, url(img.jpg) 75%);
}
